<div class="d-flex justify-content-center mt-3">
    <form method="POST" action="/auth/signin">
        <input name="email" type="email" placeholder="Email">
        <input name="password" type="password" placeholder="Password">

        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-primary">Sign In</button>
        </div>
    </form>
</div>